/* linea general */
.timeline {
  width: 100%;
}
/* casilla */
.timeline .step {
  border: 1px solid black;
  border-left: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  width: 10px;
}
/* checkpoint */
.timeline .checkpoint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.timeline .checkpoint.patch {
  background-color: rgba(78, 55, 12, 0.582);
}

.timeline .checkpoint.money {
  background-color: rgba(90, 177, 248, 0.733)
}
/* marcador jugador */
.timeline .step .player {
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.timeline .step .player.p0 {
  background-color: rgb(0, 86, 167);
  top: 5px;
}

.timeline .step .player.p1 {
  background-color: rgb(2, 175, 132);
  top: 20px;
}
/* marcador jugador futuro */
.timeline .step .player.future {
  -webkit-animation: fadeInOut 1s infinite linear;
  animation: fadeInOut 1s infinite linear;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}