body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.players {
  perspective: 600px;
  position: relative;
  float: left;
  width:400px;
  height: 400px;
  display: block;
}
.player {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
}
.player.p1 {
  z-index: 900;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .4s ease-in-out;
}
.players.p2 .player.p1 {
  z-index: 900;
  transform: rotateY(179deg);
}
.player.p2 {
  z-index: 800;
  transform: rotateY(-179deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .4s ease-in-out;
}
.players.p2 .player.p2 {
  z-index: 1000;
  transform: rotateX(0) rotateY(0);
}
.playerinfo.p1 strong {
  color: #0000ff;
}
.playerinfo.p2 strong {
  color: #ff0000;
}
.market, .patchEditor {
  display: inline-block;
}
.patchboard {
  width: 220px;
  height: 400px;
  overflow-y: scroll;
  text-align: center;
}
.SVGPolygon {
  stroke: #21409a;
  stroke-linecap: butt;
  stroke-dasharray: 2,3,1;
  stroke-width: 2;
  stroke-linejoin: round;
  /*paint-order: stroke;*/
}
.marketpatch .SVGPolygon, .patchEditor .SVGPolygon{
  stroke-width: 8;
}
.SVGPattern_bg {
  fill: #21409a;
}
.marketpatch {
  display: block;
  margin: 4px 0;
}
.marketpatch.onsale {
  /* TODO: estilo comprar parche */
  cursor: default;
}
.marketpatch.onsale.buyable {
  cursor: pointer;
}
.marketpatch.onsale.notbuyable {
  cursor:not-allowed;
  filter:grayscale(0.8) opacity(0.5);
}
.marketpatch.next {
  cursor: default;
  filter: sepia(0.8);
}
.pricetag {
  display: inline-block;
  border: 2px solid brown;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
  padding: 2px 10px;
}
/*
.patch .pricetag {
  position: absolute;
  right: 0;
  top: 10px;
  border: 2px solid brown;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: royalblue;
  font-weight: bold;
  background-color: darksalmon;
  height: 20px;
  line-height: 20px;
  padding: 2px 6px;
}
*/
.timeboard {
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
}
.timesquare {
  border: 2px solid black;
  position: relative;
  display:inline-block;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}
.timesquare .playermarker {
  position: absolute;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.timesquare .playermarker.p1 {
  background-color: blue;
  top: 1px;
  left: 1px;
}
.timesquare .playermarker.p2 {
  background-color: red;
  top:11px;
  left:11px;
}
.timecheckpoint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.timecheckpoint.patch {
  background-color:rgba(78, 55, 12, 0.582);
}
.timecheckpoint.money {
  background-color:rgba(90, 177, 248, 0.733)
}
.playerboard {
  background: url(https://via.placeholder.com/400);
  background-size: cover;
  position:relative;
  display: inline-block;
}
.playerboard svg {
  pointer-events: none;
}
.patchPlacer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.playerboard .patchPlacer .tile {
  /*
    background-color: green;
    cursor: pointer;
  */
  opacity: 0.5;
  position: absolute;
  /*transition: all 400ms;*/
}
.playerboard .patchPlacer .tile.invalid {
  background-color: crimson;
}
.playerboard .patchPlacer .tile.valid {
  background-color: darkgreen;
}
