body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.player {
  display:inline-block;
  margin: 5px;
}
.player.active {
  box-shadow: 0 0 5px green;
}
.playerinfo.p1 strong {
  color: #0000ff;
}
.playerinfo.p2 strong {
  color: #ff0000;
}
.market, .patchEditor {
  display: inline-block;
}
.patchboard {
  width: 220px;
  height: 400px;
  overflow-y: scroll;
  text-align: center;
}
.patchboard .patch {
  display: block;
  margin: 4px 0;
  cursor: pointer;
  fill:url(#pattern);
}

.patch.buyable {
  /*background-color: aquamarine;*/
  cursor: pointer;
}
.patch.buyable:hover {
  border:3px solid red;
}
.patch.notbuyable {
  /*background-color: #770022;*/
  cursor:not-allowed;
}
.patch:hover {
  cursor:pointer;
}
.pricetag {
  display: inline-block;
  border: 2px solid brown;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
  padding: 2px 10px;
}
.patch .pricetag {
  position: absolute;
  right: 0;
  top: 10px;
  border: 2px solid brown;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: royalblue;
  font-weight: bold;
  background-color: darksalmon;
  height: 20px;
  line-height: 20px;
  padding: 2px 6px;
}
.patch > .money {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: royalblue;
  font-size: 24px;
}
.timeboard {
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
}
.timesquare {
  border: 2px solid black;
  position: relative;
  display:inline-block;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}
.timesquare .player {
  position: absolute;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.timesquare .player.p1 {
  background-color: blue;
  top: 1px;
  left: 1px;
}
.timesquare .player.p2 {
  background-color: red;
  top:11px;
  left:11px;
}
.timecheckpoint {
  position: absolute;
  display:inline-block;
  left: -50%;
  top: 5px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.timecheckpoint.patch {
  transform: rotate(20deg);
  background-color: brown;
}
.timecheckpoint.money {
  color: #fff;
  font-weight: bold;
  background-color: blue;
  border-radius: 50%;
  text-align: center;
}
.playerboard {
  background: url(https://via.placeholder.com/400);
  background-size: cover;
  position:relative;
  display: inline-block;
}
.playerboard svg {
  pointer-events: none;
}
.patchPlacer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.playerboard .patchPlacer .tile {
  /*background-color: green;
  opacity: 0.5;
  */
  cursor: pointer;
  position: absolute;
  transition: all 400ms;
}
.playerboard .patchPlacer .tile.dragover {
  background-color: greenyellow;
}
