.testpatch {
/*    background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px), #8a3;
    background-size: 20px 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000;
    */
    stroke: aqua;
    stroke-width: 3px;
    stroke-dasharray: 1;
}
.testpattern1 {
    fill: url(#xxx);
}
.selected {
    background: #613;
}